<div id="footer">
    <hr>
    <div class="container">
        <div class="copyright">
            Muhammad Aulia Adil © <span id="copyright-year">2017</span>.
            <!-- {%FOOTER_LINK} -->
        </div>
        <div class="social">
            <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/auliadil">
                <span class="fa fa-twitter"></span>
            </a>
            <a class="btn btn-social-icon btn-instagram" href="https://www.instagram.com/auliadil/">
                <span class="fa fa-instagram"></span>
            </a>
            <a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/in/muhammad-aulia-adil-842881138/">
                <span class="fa fa-linkedin"></span>
            </a>
            <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/muhammad.adil20">
                <span class="fa fa-facebook"></span>
            </a>
        </div>
    </div>
</div>