{% extends "lab_10/layout/base.html" %}

{% block header %}
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav nav-left pull-left">
                <li><a href="{% url 'lab-10:index' %}"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Dashboard</a></li>
                <li><a href="{% url 'lab-10:movie_list' %}"><span class="glyphicon glyphicon-film"></span>&nbsp;&nbsp;Movie List</a></li>
                <li><a href="{% url 'lab-10:list_watch_later' %}"><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;Watch Later</a></li>
            </ul>
            <ul class="nav navbar-nav nav-right pull-right">
                <li><a href="{% url 'listLab' %}">View Other Labs Here</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="row">
    <br>
    <div class="col-lg-12">
        <div class="well sponsor">
            <span style="float: left; margin-right: 15px;"><img src="{{ movie.poster }}" width="170" height="250"></span>
            <h1 style="margin-bottom: 0.4em;"> <b>{{ movie.title }}</b> ({{ movie.year }}) </h4>
            <div class="clearfix">
            <p>
                <b>Rated:</b> {{ movie.rated }} <br>
                <b>Released:</b> {{ movie.released }} <br>
                <b>Runtime:</b> {{ movie.runtime }} <br>
                <b>Genre:</b> {{ movie.genre }} <br>
                <b>Writers:</b> {{ movie.writer }} <br>
                <b>Actors:</b> {{ movie.actors }} <br> <br> <br>
            </p>
            <p>{{ movie.plot }} <br>

            </p>
            </div>
        
        <br>
        <div class="box">
            {% if added %}
            <button class="btn btn-success"> Added to Watch Later </button>
            {% else %}
            <a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning"> Add to Watch Later </a>
            {% endif%}
        </div>
    </div>
</div>
      
{% endblock %}
 <!--        {'title': b'Justice League', 'year': b'2017', 'rated': b'PG-13', 'released': b'17 Nov 2017', 'runtime': b'121 min', 'genre': b'Action, Adventure, Fantasy', 'director': b'Zack Snyder', 'writer': b'Chris Terrio (screenplay by), Joss Whedon (screenplay by), Zack Snyder (story by), Chris Terrio (story by), Bob Kane (characters), Bill Finger (characters), William Moulton Marston (character created by: Wonder Woman), Joe Shuster (characters), Jerry Siegel (characters)', 'actors': b'Gal Gadot, Jason Momoa, Robin Wright, Amy Adams', 'plot': b"Fueled by his restored faith in humanity and inspired by Superman's selfless act, Bruce Wayne enlists the help of his newfound ally, Diana Prince, to face an even greater enemy.", 'language': b'English', 'country': b'USA', 'awards': b'1 nomination.', 'poster': b'https://images-na.ssl-images-amazon.com/images/M/MV5BNDgwNjMwNjM1OV5BMl5BanBnXkFtZTgwNjA2Njk5MzI@._V1_SX300.jpg', 'ratings': [], 'metascore': b'N/A', 'imdbrating': b'N/A', 'imdbvotes': b'N/A', 'imdbid': b'tt0974015', 'type': b'movie', 'dvd': b'N/A', 'boxoffice': b'N/A', 'production': b'Warner Bros. Pictures', 'website': b'http://www.justiceleaguethemovie.com/', 'response': b'True'}
 -->

<!--     <h2> Raw Data (json) </h2>
    <p> {{ movie }} </p>
    <p> {{ movie }} </p>
    <p> {{ movie.title }} </p>
    <hr>
    <h2> Contoh cara mengambil judul: </h2>
    <h1 style="color:red"> {{ movie.title}} </h1> -->




