{% extends "lab_10/layout/base.html" %}

{% block header %}
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav nav-left pull-left">
                <li><a href="{% url 'lab-10:index' %}"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Dashboard</a></li>
                <li><a href="{% url 'lab-10:movie_list' %}"><span class="glyphicon glyphicon-film"></span>&nbsp;&nbsp;Movie List</a></li>
                <li><a href="{% url 'lab-10:list_watch_later' %}"><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;Watch Later</a></li>
            </ul>
            <ul class="nav navbar-nav nav-right pull-right">
                <li><a href="{% url 'listLab' %}">View Other Labs Here</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="row" style="padding: 20px">
    {% for movie in watch_later_movies %}
    <div class="col-lg-6">
        <div class="well sponsor" style="min-height: auto">
            <span style="float: left; margin-right: 15px;"><img src="{{ movie.poster }}" width="170" height="250"></span>
            <h1 style="margin-bottom: 0.4em;"> <b>{{ movie.title }}</b> ({{ movie.year }}) </h4>
            <div class="clearfix">
            <p>
                <b>Rated:</b> {{ movie.rated }} <br>
                <b>Released:</b> {{ movie.released }} <br>
                <b>Runtime:</b> {{ movie.runtime }} <br>
                <b>Genre:</b> {{ movie.genre }} <br>
                <b>Actors:</b> {{ movie.actors }} <br> <br>
            </p>
            <p>{{ movie.plot }} <br>
            </p>
            </div>
            <div class="detail">
            	<a class='btn btn-primary' href="/lab-10/movie/detail/{{movie.imdbid}}"> Detail </a>
            </div>
        </div>
    </div>
    <!-- <p> {{ movie }} </p> -->
    {% endfor %}
</div>
{% endblock %}
