{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="LAB 9">
        <meta name="author" content="{{author}}">
        

        <!-- bootstrap csss -->
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <style>
            .rata-tengah {
                text-align: center;
                margin : 20px;
            }
            .judul {
                text-transform:uppercase;
                margin-bottom: 50px;
                margin-top: 50px;
            }
        </style>
        <link rel="stylesheet" type="text/css" href="{% static 'css/lab_9.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/header_lab_10.css' %}" />
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:700" rel="stylesheet">
        <link rel="icon" href="{% static 'images/logo.ico' %}">
        <title>
            {% block title %} All Lab By {{author}} {% endblock %}
        </title>
    </head>
    <body style="background: #222">
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="listLab">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'lab-1:index' %}">Lab 1</a></li>
                        <li><a href="{% url 'lab-2:index' %}">Lab 2</a></li>
                        <li><a href="{% url 'lab-3:index' %}">Lab 3</a></li>
                        <li><a href="{% url 'lab-4:index' %}">Lab 4</a></li>
                        <li><a href="{% url 'lab-5:index' %}">Lab 5</a></li>
                        <li><a href="{% url 'lab-6:index' %}">Lab 6</a></li>
                        <li><a href="{% url 'lab-7:index' %}">Lab 7</a></li>
                        <li><a href="{% url 'lab-8:index' %}">Lab 8</a></li>
                        <li><a href="{% url 'lab-9:index' %}">Lab 9</a></li>
                        <li><a href="{% url 'lab-10:index' %}">Lab 10</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Jquery n Bootstrap Script -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
