/* Set the fixed height of the footer here */
#footer {
margin: auto;
  height: auto;
}    
#footer .social {
padding: 0;
margin: 0;
width: 300px;
text-align: center;
}
#footer .copyright {
	color: white;
	font-family: Lato;
	text-shadow: 3px 3px 10px black;
	line-height: 50px;
	float: right;
	padding: auto;
	width: 425px;
	text-align: center;
}

@media only screen and (max-width: 480px) {
  #footer .social {
  	width: auto;
  }

  #footer .copyright {
  	width: auto;
  }
}