body {
    height: 100%;
}

.parallax {
    /* The image used */
    background-image: url("../images/city-wallpaper-47.f1ead20126a3.jpg");

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
	position: relative;
	min-height: 100%;
	font-family: Lato;
}

.container-fluid {
	width: 1920px;
}

.login .title {
	font-family: 'Josefin Sans', sans-serif;
	color: white;
	/*font-style: bold;*/
	font-size: 3em;
	text-shadow: 3px 3px 10px black;
}

.login p {
	font-family: 'Lato';
	color: black;
	/*font-style: bold;*/
	font-size: 1.3em;
}

/* NAVBAR BLOCK */

.navbar .navbar-brand {
	filter: invert(100%);
	-webkit-filter: invert(100%);
	color: white;
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	min-height: 80px;
}

.navbar .navbar-inverse {
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	min-height: 80px;
}

.nav li {
	display: inline;
	color: white;
	list-style: none;
}

.navbar-inverse .navbar-header > a {
	color: #ffffff;
	font-family: Lato;
	font-size: 1.7em;
	font-weight: 300;
	padding: 30px 25px 33px 25px;
}

.navbar-inverse .navbar-header a:hover {
	filter: invert(0%);
	-webkit-filter: invert(0%);
	background-color: #ffffff;
	transition: 0.7s all linear;
	height: 100%;
}

.navbar-inverse .navbar-nav > li > a {
	color: #ffffff;
	font-family: Lato;
	font-size: 1.7em;
	font-weight: 300;
	padding: 30px 25px 33px 25px;
}

.navbar-inverse .navbar-nav li a:hover {
	background-color: #5c5241;
	transition: 0.7s all linear;
	height: 100%;
}
/* END NAVBAR BLOCK */

/* LIST LAB BLOCK */
#listLab li {
	color: #ffffff;
	font-family: Lato;
	font-size: 1.7em;
	font-weight: 300;
	padding: 30px 25px 33px 25px;
	float: left;
	display: inline-block;
}

#listLab li a {
	padding: 100px;
}
/* END LIST LAB BLOCK */
