body {
    background-image: url("../../../praktikum/static/images/city-wallpaper-47.f1ead20126a3.jpg");
    margin: 0 auto;

}

.container {
	position: relative;
	min-height: 100%;
	font-family: Lato;
}

.container-fluid {
	width: 1920px;
}

.title {
	font-family: 'Josefin Sans', sans-serif;
	color: white;
	/*font-style: bold;*/
	font-size: 30px;
	text-shadow: 3px 3px 10px black;
}

.navbar .navbar-brand {
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	min-height: 80px;
}

.navbar-inverse .navbar-brand > li > a {
	color: #ffffff;
	font-family: 'Lato';
	font-size: 1.7em;
	font-weight: 300;
	padding: 30px 25px 33px 25px;
}

.navbar-inverse .navbar-brand li a:hover {
	background-color: #5c5241;
	transition: 0.7s all linear;
	height: 100%;
}

#navbar li{
	color: white;
}

.navbar .navbar-inverse {
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	min-height: 80px;
}

.nav li {
	display: inline;
	color: white;
	list-style: none;
}

.navbar-inverse .navbar-nav > li > a {
	color: #ffffff;
	font-family: Lato;
	font-size: 1.7em;
	font-weight: 300;
	padding: 30px 25px 33px 25px;
}

.navbar-inverse .navbar-nav li a:hover {
	background-color: #5c5241;
	transition: 0.7s all linear;
	height: 100%;
}

/* LIST LAB BLOCK */
#listLab li {
	color: #ffffff;
	font-family: Lato;
	font-size: 1.7em;
	font-weight: 300;
	padding: 30px 25px 33px 25px;
	float: left;
	display: inline-block;
}

#listLab li a {
	padding: 100px;
}

/* END LIST LAB BLOCK */