body {
    background-image: url(file:///Macintosh%20HD/Users/auliaadil/Desktop/PPW/lab_9/static/images/city-wallpaper-47.jpg);
    margin: 0 auto;

}

.container {
	position: relative;
	min-height: 100%;
	font-family: Lato;
}

.container-fluid {
	width: 1920px;
}

.title {
	font-family: 'Josefin Sans', sans-serif;
	color: white;
	/*font-style: bold;*/
	font-size: 30px;
	text-shadow: 3px 3px 10px black;
}

.navbar-brand {
	font-family: 'Josefin Sans', sans-serif;
	font-style: bold;
	text-align:center; color: white
}

#navbar li{
	color: white;
}

.navbar, .navbar-inverse {
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	min-height: 80px;
}

.nav li {
	display: inline;
	color: white;
}

.navbar-inverse .navbar-nav > li > a {
	color: #ffffff;
	font-family: Lato;
	font-size: 1.7em;
	font-weight: 300;
	padding: 30px 25px 33px 25px;
}

.navbar-inverse .navbar-nav li a:hover {
	background-color: #5c5241;
	transition: 0.7s all linear;
	height: 100%;
}

/* LIST LAB BLOCK */
#listLab li {
	color: #ffffff;
	font-family: Lato;
	font-size: 1.7em;
	font-weight: 300;
	padding: 30px 25px 33px 25px;
	float: left;
	display: inline-block;
}

#listLab li a {
	padding: 100px;
}

/* END LIST LAB BLOCK */

/* HAMBURGER DROP DOWN BLOCK */
.menu-btn div {
	position: absolute;
	left: 100%;
	top: 64%;
	padding-right: 8px;
	margin-top: -0.50em;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 200;
	vertical-align: middle;
	z-index: 99;
}
 
.menu-btn span {
	display: block;
	width: 19px;
	height: 3px;
	margin: 4px 0;
	background: rgb(0,0,0);
	z-index: 99;
}
 
.responsive-menu{
	display: none;
}
 
.expand {
	display: block !important; 
}
/* END BLOCK */