body {
    background-image: url('../images/city-wallpaper-47.jpg');
    margin: 0 auto;
}

.container {
	position: relative;
	min-height: 100%;
	font-family: Lato;
}

.container-fluid {
	width: 1920px;
}

.login .title {
	font-family: 'Josefin Sans', sans-serif;
	color: white;
	/*font-style: bold;*/
	font-size: 3em;
	text-shadow: 3px 3px 10px black;
}

.login p {
	font-family: 'Lato';
	color: black;
	/*font-style: bold;*/
	font-size: 1.3em;
}

/* LIST LAB BLOCK */
#listLab li {
	color: #ffffff;
	font-family: Lato;
	font-size: 1.7em;
	font-weight: 300;
	padding: 30px 25px 33px 25px;
	float: left;
	display: inline-block;
}

#listLab li a {
	padding: 100px;
}
/* END LIST LAB BLOCK */

/* TAB DRONE, SOUNDCARD, OPTICAL */
.nav .nav-tabs li:hover {
	background-color: #5c5241;
	transition: 0.7s all linear;
} 
/* END BLOCK */

/* FOOTER BLOCK */
footer {
  color: #fff;
  font-size: 11px;
  line-height: 23px;
  padding-top: 68px;
  padding-bottom: 77px;
}
footer .copyright {
  display: inline-block;
  color: #777777;
}
footer .copyright a:hover {
  color: #38c7aa;
}
footer .copyright a:active {
  color: #2d9f88;
}
footer .inline-list li a {
  font-size: 18px;
  line-height: 46px;
  width: 46px;
  height: 46px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: silver;
  border: 2px solid silver;
}
footer .inline-list li a:hover {
  color: #fff;
  background: silver;
}
footer .inline-list li a:active {
  background: #a7a7a7;
}
footer .inline-list li + li {
  margin-left: 8px;
}
footer * + .copyright {
  margin-top: 40px;
}

.footer__ins1 {
  padding-top: 80px;
  padding-bottom: 97px;
}

/* END FOOTER *?

/* HAMBURGER DROP DOWN BLOCK */
.menu-btn div {
	position: absolute;
	left: 100%;
	top: 64%;
	padding-right: 8px;
	margin-top: -0.50em;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 200;
	vertical-align: middle;
	z-index: 99;
}
 
.menu-btn span {
	display: block;
	width: 19px;
	height: 3px;
	margin: 4px 0;
	background: rgb(0,0,0);
	z-index: 99;
}
 
.responsive-menu{
	display: none;
}
 
.expand {
	display: block !important; 
}
/* END BLOCK */