{% extends "lab_4/layout/base.html" %}

{% block content %}
<div class="parallax"></div>
<a href="https://www.linkedin.com/in/muhammad-aulia-adil-842881138/">
    <img src="https://c1.staticflickr.com/5/4481/37272585896_fb26d30fe6_b.jpg" style="border-radius: 50%; display: block; margin: 0 auto;" width="300px" height="300px" alt="my-photo"></a>
    <br>
<h1 style="font-family: 'Archivo Black', sans-serif;
        font-weight: normal;
        text-transform: uppercase;
        line-height: 46px;
        font-size: 43px;
        margin: 0 0 23px 0;color:white; margin: 0 auto; text-shadow: 3px 3px 10px black;">Muhammad Aulia Adil</h1>

<br>
<div class="parallax"></div>
<section name="bio">
    <p style="        font-family: 'Merriweather Sans', sans-serif;
        font-size: 17px;
        line-height: 23px;
        margin: 0 0 23px 0;
        color: white;
        text-shadow: 3px 3px 10px black">
        {{content}}
    </p>    
</section>
<section name="about_me">
    <h2 style="font-family: 'Merriweather Sans', sans-serif;
        background: #333333;
        min-height: 100px;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        text-transform: uppercase;
        letter-spacing: -1px;
        margin: 0 0 23px 0;color: white; text-shadow: 3px 3px 10px black;">What they said about me</h2>
    <ul class="about_me" style="overflow: hidden;">
        {% for ii in about_me %}
        <li style="font-family: 'Merriweather Sans', cursive; color: white; text-shadow: 3px 3px 5px black;"> {{ ii }} </li>
        {% endfor %}
    </ul>
</section>
<section name="form">
    <h2 style="font-family: 'Merriweather Sans', sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        text-transform: uppercase;
        letter-spacing: -1px;
        margin: 0 0 23px 0;color: white; text-shadow: 3px 3px 10px black;">Know Me Better</h2>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}" style="color: white; text-shadow: 3px 3px 5px black;">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</section>

{% endblock %}
