{% extends "base.html" %}
{% block content %}

<style>
    .center_screen {
        position: absolute;
        width: 500px;
        height: 50px;
        top: 50%;
        left: 50%;
        margin-left: -450px; /* margin is -0.5 * dimension */
        margin-top: -25px;
    }
</style>
<div class="center_screen">
    <p class="status" id="test" style="font-family: Big John; color: white; font-style: bold; font-size: 30px; text-shadow: 3px 3px 10px black;">Hello, this is {{ name }}.<br> {{ content }}</p>
</div>
{% endblock %}