body {
    background-image: url("https://wallpaper.wiki/wp-content/uploads/2017/04/wallpaper.wiki-HD-Black-and-Orange-Background-PIC-WPB0014820.jpg");
    margin: 0 auto;
    min-height: 2000px;
}

/*.parallax {*/
    /* The image used */

    /* Set a specific height */
    /*min-height: 500px; */

    /* Create the parallax scrolling effect */
/*    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/

h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
p {
     display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.about_me ul {
    list-style: none;
}
.about_me li {
    float: left;
    line-height: 50px; padding: 0 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;

}

.navbar-static-top {
  margin-bottom: 19px;
}
/*Textarea not resizeable*/
textarea {
    resize:none
}