{% block header %}
<nav class="nav navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span style="float: left;"><a class="navbar-brand" href=""><img src="../../../static/images/logo.png" width="50" height="50"></a></span>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav nav-right pull-right">
                <li><a href="{% url 'listLab' %}">View Other Labs Here</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}